<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}ibanFirst{% endblock %}</title>
    <link rel="shortcut icon" href="{{ asset('build/images/favicon.ico') }}"/>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    {% endblock %}
</head>
<body>

<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-12 col-lg-12">
            <div class="container">
                <h1 class="mb-4">Historique des Transactions</h1>
                {% for label, flashes in app.session.flashbag.all %}
                    {% for flash in flashes %}
                        <div class="alert alert-{{ label }}">
                            {{ flash }}
                        </div>
                    {% endfor %}
                {% endfor %}
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
</div>
{% block javascripts %}
    <script src="{{ asset('build/app.js') }}"></script>
{% endblock %}
</body>
</html>
